.navbar-custom {
    height: 90px;
    transition: height 0.3s ease;
}

body {
    background-color: #035f33; 

    color: #1c1b18; 
    font-family: Arial, sans-serif; 
    line-height: 1.6;
    scroll-behavior: smooth;
    margin: 0; 
}

.navbar-custom .navbar-brand img {
    width: 200px; 
    height: 60px; 
}

.navbar-custom .navbar-collapse {
    flex-grow: 1;
    display: flex;
}

.navbar-custom .nav-link {
    color: #ffffff !important;
    text-decoration: none;
    padding: 8px 15px;
    margin: 0 8px;
    border-radius: 5px;
    
   
    background-color: rgba(179, 0, 0, 0.5); 
    transition: background-color 0.3s ease, transform 0.1s, color 0.3s;
}

.navbar-custom .nav-link:hover {
    background-color: #FFD700; 
    color: #000000 !important; 
    transform: scale(1.05);
    cursor: pointer;
}

.navbar-custom .nav-link.active {
    background-color: #FFA500; 
    color: #000000 !important;
    font-weight: bold;
}

#inicio {
    padding-top: 120px;
    padding-bottom: 50px;
}

.card-inicio {
    background-image: url('img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    max-width: 700px;
    min-height: 250px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-inicio .btn-light {
    padding: 12px 30px;
    font-size: 1.2em;
    border-radius: 30px;
}

.content-card-section {
   
    background-color: rgba(0, 0, 0, 0.7); 
    color: #f8f9fa; /* Texto claro */
    padding: 3rem; 
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); 
    margin: 30px 0; 
}

#inicio .content-card-section, 
#proceso {
    
    background-color: rgba(139, 0, 0, 0.7); 
}

.content-card-section .card {

    background-color: #212529; 
    border-color: rgba(255, 255, 255, 0.1);
}
.content-card-section .card-title, 
.content-card-section .card-text,
.content-card-section p, 
.content-card-section h1,
.content-card-section h5 {
    color: #f8f9fa !important; 
}


.container p.fs-1 { 
    color: #f8f9fa !important; 
    margin-bottom: 1rem;
}

.content-card-section .carousel-caption {
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 5px;
    padding: 10px;
}

.modal-content {
    padding: 0 !important; 
    border: none; 
}

.modal-body iframe {
    border: none;
    display: block;
}


footer {
    
    background-color: rgba(255, 255, 255, 0.3); 
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #333333;
}

footer .text-body-secondary {
    color: #333333 !important;
}